{% extends "home/home_layout.html" %}

{% block body %}
<div class="container_layout">
    <aside id="content_sidebar">
        <nav class="summaries_navbar">        
            <ul>
                <li>Aside</li>
                <li>Aside</li>
                <li>Aside</li>
                <li>Aside</li>
                <li>A side</li>
                <li>Ae</li>
                <li>As  ide</li>
                <li>A side</li>
                <li>Ade</li>
                <li>As ide</li>
                <li>Asde</li>
                <li>Aside</li>
                <li>Aside</li>
                <li>Aside</li>
                <li>Aside</li>
                <li>Aside</li>
                <li>Aside</li>
                <li>Aside</li>
                <li>A side</li>
                <li>Ae</li>
                <li>As  ide</li>
                <li>A side</li>
                <li>Ade</li>
                <li>As ide</li>
                <li>Asde</li>
                <li>Aside</li>
                <li>Aside</li>
                <li>Aside</li>
                <li>As  ide</li>
                <li>A side</li>
                <li>Ade</li>
                <li>As ide</li>
                <li>Asde</li>
                <li>Aside</li>
                <li>Aside</li>
                <li>Aside</li>
                <li>As  ide</li>
                <li>A side</li>
                <li>Ade</li>
                <li>As ide</li>
                <li>Asde</li>
                <li>Aside</li>
                <li>Aside</li>
                <li>Aside</li>    
            </ul>
        </nav>
    </aside>

    <section id="content_section">
        Seciton
    </section>
</div>

{% endblock %}