<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Chrono Lite</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>
        <header>
        <nav class="navbar">
            <ul>
                <li><a href="">New Summary</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('home')}}">Home</a></li>
            </ul>
        </nav>

    </header>

    <body>
        {% block body %}{% endblock %}
    </body>
</html>