body
{
    margin: 0;
    background-color: rgba(238, 201, 122, 0.897);
    display: flex;
    flex-direction: column;
}

.container_layout
{
    display: flex;
    gap: 1;
}

#content_sidebar
{

    width: 30%;
    height: 90vh;
    margin: 0;
    overflow-y: auto;
    background-color: rgb(211, 198, 198);
    border: 1px solid;
    
}

#content_section
{
    flex: 3;
    background-color: rgb(221, 171, 130);
    width: 69.8%;
    height: 90vh;
}

.summaries_navbar ul
{
    overflow: hidden;
    list-style-type: none;
    margin-left: 10px;
    padding: 0;
}
.summaries_navbar li:hover
{
    width: 100%;
    background-color: rgb(148, 148, 148);
}

h1
{   text-align: center;}
.navbar ul 
{
    font-size: 1.10em;
    overflow: hidden;
    list-style-type: none;
    background-color: gray;
    padding: 0px;
    margin: 0px;
    position: relative;
}
.navbar a
{   
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;

}
.navbar a:hover
{
    background-color: rgba(0, 0, 0, 0.541);
}
.navbar li
{
    float: right;
}