body
{
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(25, 27, 41);
}

.index_div
{
    width: 33%;
    height: 70%;

    border-radius: 8px;
    background-color: rgba(214, 149, 96, 0.938);

}
