{% extends "access/layout.html" %}

{% block head_tags %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">    

{% endblock %}

{% block content %}

    <div class="index_div">
        <form action="/login" method="post">
            <h1 class="access_headers">Log in</h1>
            
            <input required class="access_fields" autocomplete="off" autofocus name="username" placeholder="Username" type="text">
            <br>
            <input required class="access_fields" autcomplete="off" autofocus name="password" placeholder="Password" type="password">
            <p class="access_transition">Don't have an account? <a href="{{ url_for('signup')}}">Sign up</a></p>
            <button class="access_buttons" type="submit">continue</button>

        </form>
    </div>

{% endblock %}