<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Chrono Lite</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="flash_box">
                    {% for message in messages %}
                        <h2>{{ message }}</h2>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </body>
</html>