{% extends "layout.html" %}


{% block content %}

    <div class="index_div">
        <form action="/login" method="post">
            <h1 class="access_headers">Log in</h1>
            
            <input required class="access_fields" autocomplete="off" autofocus name="username" placeholder="Username" type="text">
            <br>
            <input required class="access_fields" autcomplete="off" autofocus name="password" placeholder="Password" type="password">
            <p class="access_transition">Don't have an account? <a href="{{ url_for('signup')}}">Sign up</a></p>
            <button class="access_buttons" type="submit">continue</button>

        </form>
    </div>

{% endblock %}